$main-font: 'Montserrat';
$second-font: 'Roboto';
$third-font: 'Kaushan Script';

$main-color: #fff;
$second-color: #333;
$third-color: #999;
$bright-color: rgb(243, 129, 129);
$second-bright: rgb(252, 227, 138);
$shadow-color: rgb(149, 225, 211);
$footer-color-one:  rgb(229, 229, 229);
$footer-color-two: rgb(204, 204, 204);

$gradient-start: rgba(252, 227, 138, 0.9);
$gradient-end:  rgba(243, 129, 129, 0.9);